<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div style="background-color: #22577A;">
        <div style="padding: 2%;">
            <div style="font-size: 2.5em; font-weight: 600; color: #ffffff;">Hello {{name}}</div>
            <div style="text-align: center; margin-top: 2vh; display: flex; justify-content: space-between;">
                <div style="font-size: 1.2em; color: #ffffff;">Please click Link on the button below for Verification Data!</div>
                <button style="text-align: center; border-radius: 30px; border-color: transparent; font-weight: 600; width: 120px; height: 35px; text-decoration: none;"><a style="text-decoration: none; color: #22577A;" href="http://localhost:3000/change?token={{token}}">Click Here</a></button>
            </div>
        </div>
    </div>
</body>
</html>